// Colors
$dark-blue: #046;
$medium-blue: #157;
$light-blue: #59c;
$white-blue: #cde;
$bright-white-blue: #def;
$white: #fff;

$header-link-blue: #08d;

$term-shadow: #abd;
$term-top-bar: #777;
$term-body: #555;
$term-body-text: #ddd;
$term-red: #d00;
$term-yellow: #dd0;
$term-green: #0d0;

$aboutme-text: #004;

$footer-hover: #379;


// Break Points

$tinyMobile: 375px;
$maxMobile: 800px;
$maxDesktopSM: 1200px;

@mixin tinyMobile {
  @media (max-width: #{$tinyMobile}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$maxMobile}) {
    @content;
  }
}

@mixin desktopSM {
  @media (min-width: #{$maxMobile}) {
    @content;
  }
}

@mixin desktopMD {
  @media (min-width: #{$maxDesktopSM}) {
    @content;
  }
}

// Global Settings

body {
  background: $white-blue;
  font-family: 'Oswald', sans-serif;

  @include mobile {
    overflow-x: hidden;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  opacity: 0;
  margin: 3px 0px;
  border-radius: 5px;
  border: solid 2px $white-blue;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 2px;

  @include mobile {
    font-size: .8rem;
  }

  @include desktopSM {
    font-size: 1rem;
  }
}

// Top Navigation Bar

#container-header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 10px;
  color: $header-link-blue;
  font-size: 2rem;

  @include tinyMobile {
    font-size: .8rem;
  }
  @include mobile {
    font-size: 1rem;

  }

  #header {
    color: $dark-blue;
    letter-spacing: 5px;
    @include mobile {
      letter-spacing: 3px;
    }
  }

  #header-menu {
    display: flex;
    flex-direction: row;

    .header-link {
      padding-left: 10px;
      padding-right: 10px;
      float: right;
      color: $header-link-blue;

      @include mobile {
        padding-left: .2rem;
        padding-right: .2rem;
        padding-top: .1rem;
      }
    }

    .header-link:hover {
      color: $white;
    }
  }
}

// Terminal Animation

#container-terminal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  width: 100%;

  #terminal-window {
    font-family: 'Ubuntu Mono', monospace;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 10px $term-shadow;

    #top-bar {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 30px;
      background: $term-top-bar;
      color: $white;
      border-radius: 10px 10px 0px 0px;

      #red-dot {
        border-radius: 50px;
        width: 20px;
        height: 20px;
        background: $term-red;
        margin: 5px;
      }

      #yellow-dot {
        border-radius: 50px;
        width: 20px;
        height: 20px;
        background: $term-yellow;
        margin: 5px;
      }

      #green-dot {
        border-radius: 50px;
        width: 20px;
        height: 20px;
        background: $term-green;
        margin: 5px;
      }

      #top-bar-text {
        padding-top: 2px;
      }
    }

    #terminal-body {
      font-size: 2rem;
      height: 30vh;
      display: flex;
      flex-direction: row;
      background: $term-body;
      color: $term-body-text;
      border-radius: 0px 0px 10px 10px;
      @include mobile {
        font-size: 1rem;
      }

      .root-user {
        color: $term-green;
        margin-right: 3px;
      }

      #text-animation {
        height: 40px;
        border-right: solid 16px $term-green;
        @include mobile {
          height: 20px;
          border-right-width: 8px;
        }
      }
    }
  }
}

// About Me

#container-aboutme {
  width: 100%;
  min-height: 100vh;
  background: $light-blue;

  @include mobile {
    padding-bottom: 5vh;
  }

  @include desktopMD {
    font-size: 1.3rem;
  }

  @include desktopSM {
    padding-bottom: 10vh;
  }

  #aboutme-header {
    margin-bottom: 10vh;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 5px;
    color: $aboutme-text;
    @include mobile {
      margin-bottom: 5vh;
    }
  }

  #aboutme {
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    background: $bright-white-blue;
    border-radius: 10px;
    @include mobile {
      flex-direction: column;
    }

    #aboutme-img {
      padding: 10px;

      img {
        border-radius: 10px;
        width: 500px;
        height: auto;
        position: relative;
        display: flex;
        // 48 px used instead of 50 for image alignment
        top: 48%;
        transform: translateY(-50%);

        @include mobile {
          padding:10px, 50%;
          max-width: 100%;
          top: 0%;
          display: block;
          margin: auto;
          transform: translateY(0%)
        }

        @include desktopSM {
          width: 400px;
          top: 48%;
          transform: translateY(-50%);
        }
      }
    }

    #aboutme-border {
      width: 10px;
      margin: 10px 0px;
      background: $aboutme-text;
    }

    #aboutme-info {
      display: flex;
      flex-direction: column;
      margin: 10px 10px 10px 10px;
      color: $aboutme-text;
      font-size: 1.5rem;

      #aboutme-subheader {
        font-size: 2rem;
        text-align: center;
      }

      #aboutme-body {
        @include desktopSM {
          font-size: 1.5rem;
        }
        @include mobile {
          font-size: 1rem;
          text-align: center;
        }
      }
    }
  }
}

// Skills

#container-skills {
  min-height: 100vh;
  padding: 0% 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: $dark-blue;
  color: $white;

  #skills-header {
    width: 100vw;
    font-size: 4rem;
    letter-spacing: 5px;
    text-align: center;
    color: $bright-white-blue;

    @include mobile {
      font-size: 4rem;
    }
  }

  .skill {
    margin: 5vh 5px;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    @include mobile {
      width: 45%;
    }

    .skill-header {
      background: $bright-white-blue;
      color: $dark-blue;
      border-radius: 10px;
      border: solid 3px $white;
      text-align: center;
      letter-spacing: 5px;
      
      @include mobile {
        font-size: 1rem;
      }

      @include desktopSM {
        font-size: 1.2rem;
      }

      @include desktopMD {
        font-size: 1.5rem;
      }
    }

    .skill-text {
      color: $bright-white-blue;

      @include desktopMD {
        font-size: 1.2rem;
      }
    }
  }
}

// Projects

#projects-header {
  width: 100%;
  font-size: 4rem;
  letter-spacing: 5px;
  text-align: center;
  color: $dark-blue;
}

#container-projects {
  min-height: 100vh;
  width: 100%;
  // responsive grid 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  // for desktops, min res of card is 400
  @include desktopSM {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }


  .card {
    display: flex;
    margin: 25px;
    background: $dark-blue;
    border-radius: 10px;
    color: $white;

    @include desktopSM {
      margin: 25px;
    }

    @include desktopMD {
      margin: 5vh 2vw;
    }

    .card-img-top {
      padding: 10px;
      border-radius: 20px;
    }

    .card-body {
      text-align: center;
      display: flex;
      justify-content: space-between;
      flex-direction: column;


      .card-title {
        font-size: 1.7rem;
        letter-spacing: 3px;
      }

      .card-text {
        font-size: 1.2rem;
        letter-spacing: 2px;
      }
      .button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .btn {
          margin: 0 1rem 1rem 1rem;
          width: 12rem;
          font-size: 1.4rem;
          font-weight: bold;
          align-self: flex-end;
          justify-content: center;

          @include tinyMobile {
            font-size: 1rem;
            width: 10rem;
            margin: 0 .5rem 1rem .5rem;
          }
        }
      } 
    }
  }

  .card:hover {
    background: $medium-blue;
  }
}

// Footer

#footer {
  height: 50px;
  width: 100%;
  background: $white-blue;
  color: $dark-blue;
  font-size: 1.5rem;
  padding-top: 5px;
  margin-bottom: 0px;
  text-align: center;
}

#footer a {
  color: $dark-blue;
}

#footer a:hover {
  color: $footer-hover;
}