body {
  background: #cde;
  font-family: 'Oswald', sans-serif;
}

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  opacity: 0;
  margin: 3px 0px;
  border-radius: 5px;
  border: solid 2px #cde;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

@media (max-width: 800px) {
  li {
    font-size: .8em;
  }
}

@media (min-width: 800px) {
  li {
    font-size: 1em;
  }
}

#container-header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px 10px;
  color: #08d;
  font-size: 2rem;
}

@media (max-width: 375px) {
  #container-header {
    font-size: .8rem;
  }
}

@media (max-width: 800px) {
  #container-header {
    font-size: 1rem;
  }
}

#container-header #header {
  color: #046;
  letter-spacing: 5px;
}

@media (max-width: 800px) {
  #container-header #header {
    letter-spacing: 3px;
  }
}

#container-header #header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#container-header #header-menu .header-link {
  padding-left: 10px;
  padding-right: 10px;
  float: right;
  color: #08d;
}

@media (max-width: 800px) {
  #container-header #header-menu .header-link {
    padding-left: .2rem;
    padding-right: .2rem;
    padding-top: .1rem;
  }
}

#container-header #header-menu .header-link:hover {
  color: #fff;
}

#container-terminal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
  width: 100%;
}

#container-terminal #terminal-window {
  font-family: 'Ubuntu Mono', monospace;
  width: 80%;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px #abd;
          box-shadow: 5px 5px 10px #abd;
}

#container-terminal #terminal-window #top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 30px;
  background: #777;
  color: #fff;
  border-radius: 10px 10px 0px 0px;
}

#container-terminal #terminal-window #top-bar #red-dot {
  border-radius: 50px;
  width: 20px;
  height: 20px;
  background: #d00;
  margin: 5px;
}

#container-terminal #terminal-window #top-bar #yellow-dot {
  border-radius: 50px;
  width: 20px;
  height: 20px;
  background: #dd0;
  margin: 5px;
}

#container-terminal #terminal-window #top-bar #green-dot {
  border-radius: 50px;
  width: 20px;
  height: 20px;
  background: #0d0;
  margin: 5px;
}

#container-terminal #terminal-window #top-bar #top-bar-text {
  padding-top: 2px;
}

#container-terminal #terminal-window #terminal-body {
  font-size: 2rem;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #555;
  color: #ddd;
  border-radius: 0px 0px 10px 10px;
}

@media (max-width: 800px) {
  #container-terminal #terminal-window #terminal-body {
    font-size: 1em;
  }
}

#container-terminal #terminal-window #terminal-body .root-user {
  color: #0d0;
  margin-right: 3px;
}

#container-terminal #terminal-window #terminal-body #text-animation {
  height: 40px;
  border-right: solid 16px #0d0;
}

@media (max-width: 800px) {
  #container-terminal #terminal-window #terminal-body #text-animation {
    height: 20px;
    border-right-width: 8px;
  }
}

#container-aboutme {
  width: 100%;
  min-height: 100vh;
  background: #59c;
}

@media (max-width: 800px) {
  #container-aboutme {
    padding-bottom: 5vh;
  }
}

@media (min-width: 1200px) {
  #container-aboutme {
    font-size: 1.3em;
  }
}

@media (min-width: 800px) {
  #container-aboutme {
    padding-bottom: 10vh;
  }
}

#container-aboutme #aboutme-header {
  margin-bottom: 10vh;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 5px;
  color: #004;
}

@media (max-width: 800px) {
  #container-aboutme #aboutme-header {
    margin-bottom: 5vh;
  }
}

#container-aboutme #aboutme {
  width: 80%;
  margin: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #def;
  border-radius: 10px;
}

@media (max-width: 800px) {
  #container-aboutme #aboutme {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#container-aboutme #aboutme #aboutme-img {
  padding: 10px;
}

#container-aboutme #aboutme #aboutme-img img {
  border-radius: 10px;
  width: 500px;
  height: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 800px) {
  #container-aboutme #aboutme #aboutme-img img {
    max-width: 100%;
    top: 0%;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media (min-width: 800px) {
  #container-aboutme #aboutme #aboutme-img img {
    width: 400px;
  }
}

#container-aboutme #aboutme #aboutme-border {
  width: 10px;
  margin: 10px 10px;
  background: #004;
}

#container-aboutme #aboutme #aboutme-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 10px 10px 10px;
  color: #004;
  font-size: 1.5rem;
}

#container-aboutme #aboutme #aboutme-info #aboutme-subheader {
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 800px) {
  #container-aboutme #aboutme #aboutme-info #aboutme-body {
    font-size: 1em;
  }
}

@media (max-width: 800px) {
  #container-aboutme #aboutme #aboutme-info #aboutme-body {
    font-size: .8em;
    text-align: center;
  }
}

#container-skills {
  min-height: 100vh;
  padding: 0% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #046;
  color: #fff;
}

#container-skills #skills-header {
  width: 100vw;
  font-size: 4em;
  letter-spacing: 5px;
  text-align: center;
  color: #def;
}

@media (max-width: 800px) {
  #container-skills #skills-header {
    font-size: 4em;
  }
}

#container-skills .skill {
  margin: 5vh 0;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 800px) {
  #container-skills .skill {
    width: 45%;
  }
}

#container-skills .skill .skill-header {
  background: #def;
  color: #046;
  border-radius: 10px;
  border: solid 3px #fff;
  text-align: center;
  letter-spacing: 5px;
}

@media (max-width: 800px) {
  #container-skills .skill .skill-header {
    font-size: 1em;
  }
}

@media (min-width: 800px) {
  #container-skills .skill .skill-header {
    font-size: 1.2em;
  }
}

@media (min-width: 1200px) {
  #container-skills .skill .skill-header {
    font-size: 1.5em;
  }
}

#container-skills .skill .skill-text {
  color: #def;
}

@media (min-width: 1200px) {
  #container-skills .skill .skill-text {
    font-size: 1.2em;
  }
}

#projects-header {
  width: 100%;
  font-size: 4rem;
  letter-spacing: 5px;
  text-align: center;
  color: #046;
}

#container-projects {
  min-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (min-width: 800px) {
  #container-projects {
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

#container-projects .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px;
  background: #046;
  border-radius: 10px;
  color: #fff;
}

@media (min-width: 800px) {
  #container-projects .card {
    margin: 25px;
  }
}

@media (min-width: 1200px) {
  #container-projects .card {
    margin: 5vh 2vw;
  }
}

#container-projects .card .card-img-top {
  padding: 10px;
  border-radius: 20px;
}

#container-projects .card .card-body {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#container-projects .card .card-body .card-title {
  font-size: 1.7rem;
  letter-spacing: 3px;
}

#container-projects .card .card-body .card-text {
  font-size: 1.2rem;
  letter-spacing: 2px;
}

#container-projects .card .card-body .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container-projects .card .card-body .button-container .btn {
  margin: 0 1rem 1rem 1rem;
  width: 12rem;
  font-size: 1.4rem;
  font-weight: bold;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 375px) {
  #container-projects .card .card-body .button-container .btn {
    font-size: 1rem;
    width: 10rem;
    margin: 0 .5rem 1rem .5rem;
  }
}

#container-projects .card:hover {
  background: #157;
}

#footer {
  height: 50px;
  width: 100%;
  background: #cde;
  color: #046;
  font-size: 1.5rem;
  padding-top: 5px;
  margin-bottom: 0px;
  text-align: center;
}

#footer a {
  color: #046;
}

#footer a:hover {
  color: #379;
}
/*# sourceMappingURL=stylesheet.css.map */